@import '../../../styles/mixins.module';

.block-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 21px;
  margin: 0 0 21px 0;

  @include onAppleMiniAndEight {
    gap: 44px;
    margin: 0 0 12px 0;
  }

  @include onApple {
    gap: 50px;
    margin: 0 0 10px 0;
  }

  @include onApplePro {
    gap: 50px;
    margin: 0 0 10px 0;
  }

  @include onSamsungA30s {
    gap: 56px;
    margin: 0 0 10px 0;
  }

  @include onAppleProMax {
    gap: 64px;
    margin: 0 0 16px 0;
  }
}