@import '../../../styles/mixins.module';
.circle {
  @include circle;

  &-connected {
    @include circle;
      box-shadow: 0 0 18px 0 rgba(80, 92, 181, 1);
      background-color: #fff;
  }

  &-call {
    @include circle;
      box-shadow: 0 0 0 0 transparent;
      background-color: #fff;
  }

  &-notAuth {
    @include circle;
      box-shadow: 0 0 0 0 transparent;
      background-color: rgba(80, 92, 181, 1);
  }

  &-group {
      @include circle;
      width: 56px;
      height: 56px;
      background-color: #4753AB;
      box-shadow: 0 0 0 0 transparent;

      &-call {
        @include circle;
        width: 80px;
        height: 80px;
        background-color: #000;
        box-shadow: 0 0 0 0 transparent;
    }
  }
}