@import '../styles/mixins.module';
@import '../styles/utils.module';

.notFoundBtn{
    @include mainBtn;
    margin-top: calc(61px + (100vh - 640px) /2);
    // position: absolute;
    // bottom: 60px;
    // left: 50%;
    // transform: translateX(-50%);
}

.imgBlock{
    margin-top: 132px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.notFoundPageTxt{
    margin-top: 43px;
    color: $main-beige;
    font-size: 18px;
    font-weight: 400;

}