@import '../../styles/utils.module';
@import '../../styles/mixins.module';

.head{
    margin-top: 130px;
    color: $main-beige;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    line-height: 100%; 
}

.subHead{
    margin-top: 72px;
    color: $main-beige;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 32px; 
}

.resentBtn{
    margin-top: 178px;
    @include mainBtn
}

.bottomLine{
    margin: 0 auto;
    margin-top: 44px;
    width: 120px;
    height: 4px;
    border-radius: 100px;
    background: $main-beige;
}