// background
$background-main: #313338;
$background-button: #4753ab;
$background-button-active: #353f8a;
$background-button-in: #0d0d0d;
$disabled-button-in: #696862;


// color
$color-title: #fcfbf5;
