$main-blue: #4753AB;
$main-beige: #FCFBF5;
$background: #313338;

$color-grey: #696862;
$color-error: #BA4242;
$disable-button-color: #434765;
$disable-switch-color: #323864;
$background-button-active: #353f8a;
$background-button-in: #0d0d0d;
$rate-star-color: #FFC107;
$success-color: #4CAF50;
$rate-color: #383B42;
$color-green: #c4d294;
$color-beige-50: rgba(252, 251, 245, 0.50);
$color-beige-10: rgba(252, 251, 245, 0.10);

$timing-function: cubic-bezier(0.4, 0, 0.2, 1);

$section-padding-mob: 16px;
$section-padding: 80px;
